html {
  font-family: Calibri, Arial, sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0 8px;
  background: #EEE;
}

body,
#app {
  height: 100%;
}

#app {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  background: white;
}

#controls {
  display: flex;
  justify-content: right;
  margin-bottom: 8px;
}

/* Override for FullCalendar colours
   Available variables can be found at https://github.com/fullcalendar/fullcalendar/blob/main/packages/core/src/styles/vars.css
*/
:root {
  --fc-today-bg-color: rgb(255, 235, 190);
  --fc-event-bg-color: rgb(5, 120, 175);
  --fc-event-border-color: rgb(5, 120, 175);
}

/* Override flexbox layout on FullCalendar header toolbar
   so button groups are displayed on separate lines on smaller screens
*/
.fc .fc-toolbar {
  display: block;
}

@media (min-width: 600px) {
  /* Restore default layout for FullCalendar header toolbar */
  .fc .fc-toolbar {
    display: flex;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0;
  }

  #app {
    width: 80vw;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }
}

#calendar {
  flex-grow: 1;
  min-height: 300px;
}

#popover {
  position: absolute;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 24px;

  h2 {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#popover::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

footer ul {
  padding-left: 0;
}

footer li {
  display: inline-block;
  list-style-type: none;
}